@use "../base/mixins" as * ;
@use "../base/variables" as * ;

body {
    display: block;
    min-width: none;
    height: 100vh;
}
#app {
    height: 100%;
    width: 100vw;
    max-width: none;
    margin: 0;
    padding: 0;
    text-align: start;
    @include flex($direction: column);
    &.active {
        justify-content: start;
    }
}