@use "variables" as *;
@use "sass:map";
@mixin flex($direction: row, $justify: center, $align:center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin infoContainers {
    @include flex($justify: stretch);
    gap: $g20;
    padding: $p20;
    img {
        height: 30px;
    }
}

/* mixin media query */
@mixin respond($bp) {
    @media (min-width: map.get($grid-breakpoints, $bp)){
        @content;
    }
}